[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-utils = "*"
uvicorn = {extras = ["standard"], version = "*"}
nltk = "*"
setuptools = "*"
wheel = "*"
spacy = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
